<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<header class="intro-header" style="background-image: url('<%- config.cover %>'), linear-gradient(to right, #100c2f, #100c2f, #302b63, #302b63); ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div id="invitacion" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p class=description><%- theme.descripcion %></p>

      <hr class="small">
    </div>

  </div>

  <div id=noticias class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <h1>Noticias</h1>
    <% page.posts.each(function(item){ %>
      <%- partial('_partial/article-index', {item: item}) %>
    <% }); %>
  <%- partial('_partial/pagination') %>
</div>

<%- partial('_partial/mapa') %>
